<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.algolia.instantsearch.insights">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <uses-library android:name="android.test.runner"
                      android:required="false" />
    </application>

</manifest>
